menu "Clock configuration"
    config CLOCK_TYPE
        int "Clock type"
        default 1
        help
            The type of hardware being used.
            1 = Word Clock
            2 = Nixie Clock
            3 = Fibonacci Clock
endmenu
